//====================================================================================================

.wrapper {
	overflow:hidden;
	max-width: 1440px;
	margin: 0 auto;
	background-image: url(@img/main_bg.svg);
	background-repeat: no-repeat;
	background-color: #ffffff;
}

.page {}

.title {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	font-size: 3.65em;
	line-height: 70px;
	color: #FFFFFF;
}

.button {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 23px;

}

.text {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 23px;
}

.img--hide {
	display: none;
}

//====================================================================================================

// Main Cover

.cover {

	// .cover__container

	&__container {}

	// .cover__title

	&__title {
		max-width: 877px;
		padding: 94px 0 32px 0;
	}

	// .cover__button

	&__button {
		padding: 0 0 40px 0;

		&:hover .button__arrowimg {
			@media (min-width: $tablet) {
				display: none;
			}
		}

		&:hover .img--hide {
			@media (min-width: $tablet) {
				display: inline-block;
			}
		}
	}

	// .cover__businesses

	&__businesses {
		padding: 0 0 20px 0;

		&:hover {
			@media (min-width: $tablet) {
				color: #EEAC49;
			}
		}

		&:hover .cover__linkarrow {
			@media (min-width: $tablet) {
				display: none;
			}
		}

		&:hover .img--hide {
			@media (min-width: $tablet) {
				display: inline-block;
			}
		}
	}

	// .cover__link

	&__link {}

	// .cover__linkarrow

	&__linkarrow {
		padding: 0 0 0 12px;
	}

	// .cover__news

	&__news {
		margin: 115px 0 0 0;
		background-color: rgba(9, 40, 58, 0.8);
		height: 187px;
	}
}

.button {

	// .button__consult

	&__consult {
		width: 328px;
		height: 64px;
		color: #323232;
		background-color: #FFFFFF;
	}

	// .button__arrowimg

	&__arrowimg {
		padding: 0 0 0 10px;
	}
}

.news {

	// .news__container

	&__container {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	// .news__box

	&__box {
		width: 240px;
		padding: 42px 0 52px 0;

		&:first-child {
			padding: 31px 0 41px 0;
		} 
	}

	// .news__header

	&__header {
		width: 167px;
		font-style: normal;
		font-weight: 600;
		font-size: 32px;
		line-height: 38px;
	}

	// .news__more

	&__more {
		padding: 16px 0 0 0;
		color: #EEAC49;

		&:hover {
			@media (min-width: $tablet) {
					color: #FFFFFF;
				}
		}

		&:hover .news__morearrow {
			@media (min-width: $tablet) {
				display: none;
			}
		}

		&:hover .img--hide {
			@media (min-width: $tablet) {
				display: inline-block;
			}
		}
	}
	// .news__morelink

	&__morelink {}

	//	.news__morearrow

	&__morearrow {
		padding: 9px 0 0 8px;
	}

	// .news__divider

	&__divider {}

	// .news__link

	&__link {
		&:hover {
			color: #EEAC49;
		}
	}

	// .news__text

	&__text {}

	// .news__date

	&__date {
		padding: 24px 0 0 0;
	}
}

//====================================================================================================

// Services

.services {
	padding: 86px 0 0 0;

	// .services__container

	&__container {}

	// .services__description

	&__description {
		margin: 80px 0 80px 0;
		position: relative;
		height: 286px;
		
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: -165px;
			width: 800px;
			height: 286px;
			background-color: #09283A;
		}
	}

	// .services__header

	&__header {
		position: absolute;
		top: 80px;
		max-width: 572px;
		font-weight: 500;
		font-size: 36px;
		line-height: 42px;
	}

	// .services__text

	&__text {
		position: absolute;
		right: 0;
		top: 103px;
		max-width: 400px;
		height: 80px;
		color: #797979;
		font-weight: 400;
		font-size: 16px;
		line-height: 122.69%;
	}

	// .services__map

	&__map {
		position: relative;
		height: 400px;
		background-image: url(@img/services_map_bg.svg);
		background-size:  834px 290px;
		background-repeat: no-repeat;
		background-position: top 10px right 130px;
	}

	// .services__accounting

	&__accounting {
		position: absolute;
		left: 0px;
		bottom: 205px;
	}

	// .services__legal

	&__legal {
		position: absolute;
		left: 50px;
		bottom: 85px;
	}

	// .services__stateauthorities

	&__stateauthorities {
		position: absolute;
		left: 310px;
		bottom: 85px;
	}

	// .services__tax

	&__tax {
		position: absolute;
		left: 440px;
		bottom: 185px;
	}

	// .services__dispute

	&__dispute {
		position: absolute;
		right: 155px;
		bottom: 130px;
	}

	// .services__bankruptcy

	&__bankruptcy {
		position: absolute;
		right: 200px;
		top: 100px;
	}

	// .services__duediligence

	&__duediligence {
		position: absolute;
		right: 25px;
		top: 155px;
	}
}

.map {

	// .map__title

	&__title {
		font-weight: 700;
		font-size: 32px;
		line-height: 38px;
		color: #09283A;
	}

	// .map__service

	&__service {
		width: 165px;
		font-weight: 500;
		font-size: 20px;
		line-height: 23px;
		color: #09283A;
	}
}

//====================================================================================================

// Consult

.consult {
	background: #EBEBEB;
	background-image: url(@img/consult_bg.svg);
	background-repeat: no-repeat;

	// .consult__container

	&__container {
		padding: 72px 0;
	}

	// .consult__title

	&__title {
		font-weight: 500;
		font-size: 36px;
		line-height: 42px;
		color: #09283A;
	}

	// .consult__text

	&__text {
		max-width: 417px;
		padding: 20px 0 28px 0;
		font-weight: 400;
		font-size: 16px;
		line-height: 119.19%;
		color: #09283A;
	}

	// .consult__btnwrapper

	&__btnwrapper {
	}

	// .consult__button

	&__button {
		width: 295px;
		height: 55px;
		background: #EEAC49;
		box-shadow: 4px 4px 10px rgba(238, 172, 73, 0.58);
		font-weight: 500;
		font-size: 20px;
		line-height: 23px;

		&:hover {
			@media (min-width: $tablet) {
					box-shadow: 5px 5px 15px rgba(238, 172, 73, 0.68);
				}
		}
	}
}

//====================================================================================================

// Latest news

.latestnews {
	padding: 80px 0 0 0;

	// .latestnews__container

	&__container {}

	// .latestnews__title

	&__title {
		font-weight: 700;
		font-size: 32px;
		line-height: 123.4%;
		color: #09283A;
	}

	// .latestnews__newscontainer

	&__newscontainer {
		padding: 32px 0 48px 0;
		display: flex;
		justify-content: space-between;
	}

	// .latestnews__newsbox

	&__newsbox {
		width: 540px;
		height: 245px;
		background: #FFFFFF;
		box-shadow: 4px 4px 10px rgba(190, 190, 190, 0.25);
	}

	// .latestnews__text

	&__text {
		padding: 40px 0 0 40px;
		font-weight: 500;
		font-size: 22px;
		line-height: 123.4%;
		color: #797979;
	}

	// .latestnews__date

	&__date {
		padding: 8px 0 0 40px;
		font-weight: 400;
		font-size: 14px;
		line-height: 140%;	
		color: #595959;
	}

	// .latestnews__more
	
	&__more {
		padding: 28px 0 0 40px;

		&:hover {
			@media (min-width: $tablet) {
				color: #09283A;
			}
		}

		&:hover .latestnews__morearrow {
			@media (min-width: $tablet) {
				display: none;
			}
		}

		&:hover .img--hide {
			@media (min-width: $tablet) {
				display: inline-block;
			}
		}
	}

	// .latestnews__morelink

	&__morelink {}

	// .latestnews__morearrow

	&__morearrow {
		padding: 5px 0 0 8px;
	}

	// .latestnews__btnwrapper

	&__btnwrapper {}

	// .latestnews__button

	&__button {
		display: block;
		margin: 0 auto;
		width: 299px;
		height: 54px;
		background: #EEAC49;
		font-weight: 500;
		font-size: 18px;
		line-height: 123.4%;
		color: #FFFFFF;
	}
}

//====================================================================================================

// Why Us

.whyus {

	// .whyus__container

	&__container {
		padding: 80px 0 0 0;
		display: flex;
		flex-wrap: wrap;
	}

	// .whyus__title

	&__title {
		width: 380px;
		font-style: normal;
		font-weight: 700;
		font-size: 32px;
		line-height: 123.4%;
		color: #09283A;
	}

	// .whyus__infoblock

	&__infoblock {
		height: 205px;
	}

	// .whyus__infoblock--1

	&__infoblock--1 {
		background: #A0C0FF;
		width: 285px;
	}

	// .whyus__header

	&__header {
		padding: 32px 0 0 32px;
		font-weight: 700;
		font-size: 64px;
		line-height: 123.4%;
	}

	// .whyus__text

	&__text {
		padding: 32px 0 0 32px;
		font-weight: 500;
		font-size: 20px;
		line-height: 123.4%;
	}

	// .whyus__infoblock--2

	&__infoblock--2 {
		background: #76A5FF;
		width: 445px;

		&>.whyus__header {
				font-weight: 700;
				font-size: 48px;
				line-height: 123.4%;
			}
	}

	// .whyus__spacer

	&__spacer {
		width: 95px;
		height: 205px;
	}

	// .whyus__infoblock--3

	&__infoblock--3 {
		width: 285px;
		background: #6D9FEA;
	}

	// .whyus__infoblock--4

	&__infoblock--4 {
		background: #5981CE;
		width: 285px;
	}

	// .whyus__infoblock--5

	&__infoblock--5 {
		background: #1052B4;
		width: 445px;

		& > .whyus__header {
			font-weight: 700;
			font-size: 48px;
			line-height: 123.4%;
		}
	}
}

//====================================================================================================

// Recommend

.recommend {
	padding: 80px 0 0 0;

	// .recommend_img

	&_img {}

	// .recommend__container

	&__container {}

	// .recommend__title

	&__title {
		font-weight: 700;
		font-size: 32px;
		line-height: 123.4%;
		color: #09283A;
	}

	// .recommend__companies

	&__companies {
		padding: 32px 0 48px 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	// .recommend__logo

	&__logo {}
}

